<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragments/header :: header}"></div>
<body>
<div th:replace="~{/fragments/navbars :: navbars}"></div>
<div class="content-area" style="margin-top: 100px">
    <div class="row" style="margin-left: 200px; margin-right: 200px">
        <div class="col-5">
<!--            <img th:src="|/api/goods/images/${good.photo}|" class="card-img-top" alt="..." height="551.992px" width="430px">-->
            <img id="good-main-photo" class="card-img-top" alt="..." height="551.992px" width="430px">
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col-12 mb-0" id="good-name">
                    <h5></h5>
                </div>
                <div class="col-12" id="good-summary">
                    <p style="color: gray"></p>
                </div>
                <div class="col-12 mb-0" id="good-discount-price">
                    <h4 class="mb-0">
                        <span style="color: rgb(250, 98, 47);"></span>
                        <span></span>
                    </h4>
                    <p class="text-decoration-line-through" style="color: gray"></p>
                </div>
                <div class="col-12" id="good-price">
                    <h4 class="mb">
                        <span></span>
                    </h4>
                </div>
                <div class="col-12 border-bottom" id="good-detail-origin">
                    <h5></h5>
                </div>
                <div class="col-12">
                    <div class="row border-bottom" id="good-detail-packaging-type">
                        <div class="col-3">
                            <p class="my-2"></p>
                        </div>
                        <div class="col-9">
                            <p class="my-2"></p>
                        </div>
                    </div>
                    <div class="row border-bottom" id="good-detail-weight-volume">
                        <div class="col-3">
                            <p class="my-2"></p>
                        </div>
                        <div class="col-9">
                            <p class="my-2"></p>
                        </div>
                    </div>
                    <div class="row border-bottom" id="good-detail-allergyInfo">
                        <div class="col-3">
                            <p class="my-2"></p>
                        </div>
                        <div class="col-9">
                            <p class="my-2"></p>
                        </div>
                    </div>
                    <div class="row border-bottom" id="good-detail-guidelines">
                        <div class="col-3">
                            <p class="my-2"></p>
                        </div>
                        <div class="col-9">
                            <p class="my-2"></p>
                        </div>
                    </div>
                    <div class="row border-bottom" id="good-detail-expiry-date">
                        <div class="col-3">
                            <p class="my-2"></p>
                        </div>
                        <div class="col-9">
                            <p class="my-2"></p>
                        </div>
                    </div>
                    <div class="row border-bottom" id="good-detail-option-area">
                        <div class="col-3">
                            <label for="option" class="my-2">상품선택</label>
                        </div>
                        <div class="col-9 my-2">
                            <select id="option" class="form-select" name="option">
                                <option value="">--상품을 선택해주세요.--</option>
                            </select>
                        </div>
                        <div class="col-9 offset-3 my-2" id="choice-options">
                            <ul class="list-group">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 border-bottom text-end my-2">
                    <h5>
                        <span>총 상품금액: </span>
                        <span id="total-price">0</span>
                        <span>원</span>
                    </h5>
                </div>
                <div class="col-2">
                    <a type="button" class="btn btn-danger w-100">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"></path>
                        </svg>
                    </a>
                </div>
                <div class="col-5">
                    <a type="button" class="w-100 btn btn-warning">구매하기</a>
                </div>
                <div class="col-5">
                    <a type="button" class="w-100 btn btn-success">장바구니</a>
                </div>
            </div>
        </div>
        <div class="col-12" style="margin-top: 50px" id="good-detail-description">
        </div>
    </div>
</div>

<script src="/js/good/good-detail.js"></script>
</body>
</html>