<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragments/header :: header}"></div>
<body>
<div th:replace="~{/fragments/navbars :: navbars}"></div>
<div th:replace="~{/fragments/good-sidebar :: sidebar}"></div>
<div class="left-margin-content-area">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div th:each="good: ${goods}">
            <div class="col border-light">
                <div class="card" th:id="${good.id}" style="cursor: pointer">
                    <img th:src="|/api/goods/images/${good.photo}|" class="card-img-top" alt="..." height="334.688px" width="260px">
                    <div class="card-body">
                        <div class="row">
                            <p class="mb-0" th:text="${good.name}"></p>
                            <p class="fw-light" th:text="${good.summary}"></p>
                            <p th:if="${good.discountPrice == null}" class="fw-bolder" th:text="${good.price} + 원"></p>
                            <div th:if="${good.discountPrice != null}">
                                <p th:if="${good.discountPrice != null}" class="fw-lighter mb-0 text-decoration-line-through" th:text="${good.price} + 원"></p>
                                <p th:if="${good.discountPrice != null}" class="fw-bolder">
                                    <span style="color: rgb(250, 98, 47);" th:text="${good.discountPercent} + '%'"></span>
                                    <span> </span>
                                    <span th:text="${good.discountPrice + '원'}"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <nav id="pagination" aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" th:text="'previous'"
                       th:href="@{/goods/(page=${page.number - 1})}"
                       th:class="'page-link' + (${page.number} <= 0 ? ' disabled' : '')"></a>
                </li>
                <li class="page-item" th:class="page-item" th:each="pageNumber : ${pages}">
                    <a th:class="'page-link' + (${pageNumber} == ${page.number} ? ' disabled' : '')"
                       th:text="${pageNumber + 1}"
                       th:href="@{/goods/(page=${pageNumber})}"></a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:text="'next'"
                       th:href="@{/goods/(page=${page.number + 1})}"
                       th:class="'page-link' + (${page.number} >= ${page.totalPages - 1} ? ' disabled' : '')"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<script src="/js/good/good-list.js"></script>
</body>
</html>