<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragments/header :: header}"></div>
<body>
<div th:replace="~{/fragments/navbar :: navbar}"></div>
<div class="modal fade" id="add-address-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <p class="fs-5 p-2 mb-0">배송지</p><br>
                <small>배송지 추가는 마이 페이지 > 배송지 관리에서 할 수 있습니다.</small>
                <button type="button" class="btn-close" id="modal-close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="address-list-area">
            </div>
        </div>
    </div>
</div>
<div class="order-content-area">
    <p class="fs-3 text-center">주문서</p>
    <div class="fs-4 border-bottom">주문 상품</div>
    <div id="good-area">
    </div>
    <form>
        <div class="fs-4 border-bottom mt-5 mb-3">배송 정보</div>
        <div class="row align-items-center">
            <div class="col-3 mb-3">
                <p>받으실 분
                    <span class="ms-1 text-danger">*</span>
                </p>
            </div>
            <div class="col-9 mb-3">
                <p id="name"></p>
            </div>
            <div class="col-3 mb-3">
                <p>휴대폰
                    <span class="ms-1 text-danger">*</span>
                </p>
            </div>
            <div class="col-9 mb-3">
                <p id="phone"></p>
            </div>
            <div class="col-3 mb-3">
                <label class="form-label align-middle">주소<span class="ms-1 text-danger">*</span></label>
            </div>
            <div class="col-9 mb-3">
                <small class="mb-0 badge bg-warning-subtle text-black mb-2 main-badge">기본 배송지</small>
                <p class="align-middle mb-0 address-id">
                    <span id="road"></span>
                    <span id="detail"></span>
                </p>
                <a class="btn bg-primary-subtle btn-sm mt-1" id="address-modal-btn" data-bs-toggle="modal" data-bs-target="#add-address-modal">변경</a>
            </div>
        </div>
        <div class="fs-4 border-bottom mt-5 mb-3">결제 정보</div>
        <div class="row align-items-center mx-5">
            <p>결제 예상 금액</p>
            <div class="col-3 offset-3 mb-1">
                <small>상품 금액</small>
            </div>
            <div class="col-6 mb-1 text-end">
                <span class="total-good-price"></span>
                <small>원</small>
            </div>
            <div class="col-3 offset-3 mb-1">
                <small>할인 금액</small>
            </div>
            <div class="col-6 mb-1 text-end">
                <small>-</small>
                <span class="total-discount-price"></span>
                <small>원</small>
            </div>
            <div class="col-3 offset-3 mb-1">
                <small>배송비</small>
            </div>
            <div class="col-6 mb-1 text-end">
                <span class="delivery-price"></span>
                <small>원</small>
            </div>
            <p>적립금 · DM 캐시</p>
            <div class="col-3 offset-3 mb-1">
                <small>사용 가능 잔액</small>
            </div>
            <div class="col-6 mb-1 text-end">
                <span class="total-member-price"></span>
                <small>원</small>
            </div>
            <div class="col-3 offset-3 mb-1">
                <small>ㄴ 적립금</small>
            </div>
            <div class="col-6 mb-1 text-end">
                <span class="point"></span>
                <small>원</small>
            </div>
            <div class="col-3 offset-3 mb-1">
                <small>ㄴ DM 캐시</small>
            </div>
            <div class="col-6 mb-1 text-end">
                <span class="cash"></span>
                <small>원</small>
            </div>
            <p>총 결제금액</p>
            <div class="col-3 offset-3 mb-1">
                <small>ㄴ 적립금</small>
            </div>
            <div class="col-6 mb-1 text-end">
                <span class="use-point"></span>
                <small>원</small>
            </div>
            <div class="col-3 offset-3 mb-1">
                <small>ㄴ DM 캐시</small>
            </div>
            <div class="col-6 mb-1 text-end">
                <span class="use-cash"></span>
                <small>원</small>
            </div>
            <a id="order-btn" class="btn w-100 mt-5 bg-success-subtle text-success-emphasis">
                <span class="total-price"></span>
                원 결제하기
            </a>
        </div>
    </form>

</div>
<script src="/js/good/order.js"></script>
</body>
</html>