<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div class="container" th:fragment="bodyHeader">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img width="auto" height="50" src="/img/clean-logo.png">
                <p>Delivery Market</p>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="/recipes/insert" class="nav-link px-2">Recipe Insert</a></li>
            <li><a href="#" class="nav-link px-2">Pricing</a></li>
            <li><a href="#" class="nav-link px-2">FAQs</a></li>
            <li><a href="#" class="nav-link px-2">About</a></li>
        </ul>

        <div sec:authorize="isAnonymous()" class="col-md-3 text-end">
            <a class="btn btn-outline-primary me-2 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                계정 찾기
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/member/find/id">아이디 찾기</a></li>
                <li><a class="dropdown-item" href="/member/find/password">비밀번호 찾기</a></li>
            </ul>
            <a href="/login" class="btn btn-outline-primary me-2">로그인</a>
            <a href="/sign-up" class="btn btn-primary">회원가입</a>
        </div>

        <div sec:authorize="isAuthenticated()" class="col-md-3 text-end">
            <span class="badge bg-warning-subtle text-warning-emphasis rounded-pill"
                  th:text="${#authentication.principal.benefitLevel.level}"></span>
            <a class="me-2 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
            th:text="${#authentication.principal.username} + 님">
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/my-page">개인정보 수정</a></li>
            </ul>
            <a href="/logout" class="btn btn-outline-primary me-2">로그아웃</a>
        </div>
    </header>
</div>
</html>