<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="navbars-fixed-area" th:fragment="navbars">
    <div class="p-2 bg-body-tertiary border-bottom">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
            <div class="col-md-3">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <img width="auto" height="40" src="/img/clean-logo-and-company.png">
                </a>
            </div>

            <ul data-bs-spy="scroll" class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/goods" class="nav-link link-body-emphasis px-4">전체 상품</a></li>
                <li><a href="#" class="nav-link link-body-emphasis px-4">FAQs</a></li>
                <li><a href="#" class="nav-link link-body-emphasis px-4">About</a></li>
            </ul>

            <div id="logout-status-area" class="col-md-3 text-end">
                <ul class="nav">
                    <li class="nav-item"><a href="/login" class="nav-link link-body-emphasis px-2">로그인</a></li>
                    <li class="nav-item"><a href="/sign-up" class="nav-link link-body-emphasis px-2">회원가입</a></li>
                    <li class="nav-item"><a href="/member/find/id" class="nav-link link-body-emphasis px-2">아이디 찾기</a></li>
                    <li class="nav-item"><a href="/member/find/password" class="nav-link link-body-emphasis px-2">비밀번호 찾기</a></li>
                </ul>
            </div>

            <div id="login-status-area" class="col-md-3 text-end">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link link-body-emphasis px-2 cart-icon" href="/my-page/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                            </svg>
                            <span class="cart-badge"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-body-emphasis px-2" id="login-user-name" href="/my-page"></a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link link-body-emphasis px-2">로그아웃</a>
                    </li>
                </ul>
            </div>
        </header>
<script src="/js/navbar.js"></script>
    </div>
</div>
</html>