<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div class="sidebar-area bg-body-tertiary" th:fragment="sidebar">
    <ul class="list-unstyled ps-0 pt-3">
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#favorite-menu" aria-expanded="true">
                자주찾는 메뉴
            </button>
            <div class="collapse show" id="favorite-menu">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="/my-page/pick/list" class="link-body-emphasis d-inline-flex text-decoration-none rounded">찜한 상품</a></li>
                    <li><a href="/my-page/cash/charging" class="link-body-emphasis d-inline-flex text-decoration-none rounded">캐시 충전</a></li>
                    <li><a href="/my-page/order" class="link-body-emphasis d-inline-flex text-decoration-none rounded">주문 내역</a></li>
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Annually</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                내 정보 관리
            </button>
            <div class="collapse show" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="/my-page/address" class="link-body-emphasis d-inline-flex text-decoration-none rounded">배송지 관리</a></li>
                    <li><a href="/my-page/info/modify" class="link-body-emphasis d-inline-flex text-decoration-none rounded">개인정보 관리</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                쇼핑
            </button>
            <div class="collapse" id="orders-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="/my-page/cash/charging" class="link-body-emphasis d-inline-flex text-decoration-none rounded">캐시 충전</a></li>
                    <li><a href="/my-page/order" class="link-body-emphasis d-inline-flex text-decoration-none rounded">주문 내역</a></li>
                    <li><a href="/my-page/review" class="link-body-emphasis d-inline-flex text-decoration-none rounded">후기 관리</a></li>
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Returned</a></li>
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                Account
            </button>
            <div class="collapse" id="account-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">New...</a></li>
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Profile</a></li>
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Settings</a></li>
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Sign out</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>

</html>