<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragments/header :: header}"></div>
<body>
<div th:replace="~{/fragments/bodyHeader :: bodyHeader}"></div>

<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
    <div class="col-md-4 offset-lg-4">
        <h4 class="mb-3 text-center">Delivery Market 비밀번호 찾기</h4>
        <form class="needs-validation" th:object="${member}" action="/member/find/password" method="POST" id="find-id-form">
            <div class="row g-3">
                <div class="col-12">
                    <label for="name" class="form-label">이름</label>
                    <input type="text" class="form-control" id="name" th:errorclass="field-error" th:field="*{name}" placeholder="">
                    <small class="field-error" th:errors="*{name}">name error</small>
                </div>
                <div class="col-12">
                    <label for="email" class="form-label">이메일</label>
                    <input type="text" class="form-control" id="email" th:errorclass="field-error" th:field="*{email}" placeholder="">
                    <small class="field-error" th:errors="*{email}">email error</small>
                </div>
                <div class="col">
                    <input class="w-100 btn btn-success" type="submit" value="비밀번호 찾기">
                </div>
            </div>


        </form>
    </div>
</div>

<div th:replace="~{/fragments/footer :: footer}"></div>
</body>
</html>