<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragments/header :: header}"></div>
<body>
<div th:replace="~{/fragments/navbar :: navbar}"></div>
<div class="content-area">
    <div class="row" style="margin-left: 180px; margin-right: 180px">
        <div class="text-center my-3">
            <span class="fs-3">장바구니</span>
        </div>
        <div class="col-9 mt-3" id="cart-area">
        </div>
        <div class="col-3 mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <p class="text-start mb-2">상품 금액</p>
                        </div>
                        <div class="col-6">
                            <p class="text-end mb-2" id="total-price">0 원</p>
                        </div>
                        <div class="col-6">
                            <p class="text-start mb-2">할인 금액</p>
                        </div>
                        <div class="col-6">
                            <p class="text-end mb-2" id="total-discount-price">0 원</p>
                        </div>
                        <div class="col-6">
                            <p class="text-start mb-2">배송비</p>
                        </div>
                        <div class="col-6">
                            <p class="text-end mb-2" id="delivery-price">3,000 원</p>
                        </div>
                        <div class="col-6">
                            <p class="text-start mt-4 mb-2">결제예정금액</p>
                        </div>
                        <div class="col-6">
                            <p class="text-end mt-4 mb-2 fw-bold" id="total-pay-price">0 원</p>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-lg w-100 mt-3">구매하기</button>
        </div>
    </div>
</div>
</body>
</html>
<script src="/js/member/cart-list.js"></script>