.field-error {
    border-color: #dc3545;
    color: #dc3545;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}

.sidebar-right-gray-area {
    width: 280px;
    padding: 15px;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    position: fixed; top:0; bottom: 0; left: 0; z-index: 1000;
}

.sidebar-area {
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: white ;
    width: 250px;
    padding: 10px
}


.right-fixed-area {
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    z-index: 1030
}

.top-fixed-area {
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:1030
}

.bottom-fixed-area {
    position:fixed;
    right:0;
    bottom:0;
    left:0;
    z-index:1030
}

.content-area {
    margin: 20px 20px 20px 300px;
}