<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragments/header :: header}"></div>
<body>
<div th:replace="~{/fragments/navbar :: navbar}"></div>
<div th:replace="~{/fragments/sidebar :: sidebar}"></div>
<div class="left-margin-content-area">
    <div class="row" style="margin-left: 200px; margin-right: 200px">
        <div class="border-bottom mb-3">
            <span class="fs-3">주문 내역 상세</span>
        </div>
        <p id="deliveryStatus"></p>
        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#good-list-area">
                        주문번호<span class="ms-2 orderId"></span>
                    </button>
                </h2>
                <div id="good-list-area" class="accordion-collapse show">
                    <div class="accordion-body" id="good-list">

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button bg-white collapsed" aria-expanded="false" type="button" data-bs-toggle="collapse" data-bs-target="#pay-area">
                        결제 정보
                    </button>
                </h2>
                <div id="pay-area" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div class="hstack mb-1">
                            <div>총 금액</div>
                            <div class="ms-auto" id="totalPrice"></div>
                        </div>
                        <div class="hstack mb-1">
                            <div>상품 할인 금액</div>
                            <div class="ms-auto" id="discountPrice"></div>
                        </div>
                        <div class="hstack mb-1">
                            <div>배송비</div>
                            <div class="ms-auto" id="deliveryPrice"></div>
                        </div>
                        <div class="hstack mb-1">
                            <div>쿠폰할인</div>
                            <div class="ms-auto" id="couponDiscountPrice"></div>
                        </div>
                        <div class="hstack mt-2 mb-1">
                            <div>총 결제 금액</div>
                            <div class="ms-auto" id="payPrice"></div>
                        </div>
                        <div class="hstack mb-1">
                            <div>ㄴ 적립금</div>
                            <div class="ms-auto" id="point"></div>
                        </div>
                        <div class="hstack mb-1">
                            <div>ㄴ DM 캐시</div>
                            <div class="ms-auto" id="cash"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button bg-white collapsed" aria-expanded="false" type="button" data-bs-toggle="collapse" data-bs-target="#order-detail-area">
                        주문 정보
                    </button>
                </h2>
                <div id="order-detail-area" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div class="hstack mb-1">
                            <div style="width: 80px;">주문번호</div>
                            <div class="orderId"></div>
                        </div>
                        <div class="hstack mb-1">
                            <div style="width: 80px;">보내는 분</div>
                            <div id="memberName"></div>
                        </div>
                        <div class="hstack mb-1">
                            <div style="width: 80px;">결제일시</div>
                            <div id="createdAt"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button bg-white collapsed" aria-expanded="false" type="button" data-bs-toggle="collapse" data-bs-target="#delivery-area">
                        배송 정보
                    </button>
                </h2>
                <div id="delivery-area" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div class="hstack mb-1">
                            <div style="width: 80px;">받는분</div>
                            <div id="recipientName"></div>
                        </div>
                        <div class="hstack mb-1">
                            <div style="width: 80px;">핸드폰</div>
                            <div id="recipientPhone"></div>
                        </div>
                        <div class="hstack mb-1">
                            <div style="width: 80px;">주소</div>
                            <div id="address"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button bg-white collapsed" aria-expanded="false" type="button" data-bs-toggle="collapse" data-bs-target="#delivery-list-area">
                        배송 내역
                    </button>
                </h2>
                <div id="delivery-list-area" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <table class="table text-center">
                            <thead>
                            <tr>
                                <th scope="col">처리일시</th>
                                <th scope="col">현재위치</th>
                                <th scope="col">처리현황</th>
                            </tr>
                            </thead>
                            <tbody id="delivery-list">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="hstack gap-3">
                <div class="p-2">
                    <small>주문취소는 [배송 준비중] 상태일 경우에만 가능합니다.</small>
                </div>
                <div class="p-2 ms-auto">
                    <a>1:1 문의 ></a>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-outline-secondary w-100" id="order-cancel-btn">전체 상품 주문 취소</button>
            </div>
        </div>

    </div>
</div>
</body>
</html>
<script src="/js/member/order-detail.js"></script>