<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragments/header :: header}"></div>
<body>
<div th:replace="~{/fragments/navbar :: navbar}"></div>
<div th:replace="~{/fragments/sidebar :: sidebar}"></div>
<div class="left-margin-content-area">
    <div class="row" style="margin-left: 200px; margin-right: 200px">
        <div class="border-bottom mb-3">
            <span class="fs-3">후기 관리</span>
        </div>
    </div>
</div>
</body>
</html>
<script src="/js/member/review.js"></script>